.content {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: .5vw;
}

.tagList {
    width: 85%;
    background-color: white;
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    border-radius: 10px;
    padding-bottom: 7vw;
    box-shadow: 10px 5px 12px rgba(0,0,0,.1),-10px 0 12px rgba(0,0,0,.2);
}

.tagList p {
    color: #74a9d3;
    font-size: 1.5vw;
    padding-right: 1.5vw;
}

.tagList p:hover {
    color: #ff69b4;
    cursor: pointer;
}

@media screen and (max-width: 426px){
    .tagList {
        width: 100%;
        background-color: white;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5vw;
        border-radius: 10px;
        padding-bottom: 7vw;
        box-shadow: 10px 5px 12px rgba(0,0,0,.1),-10px 0 12px rgba(0,0,0,.2);
    }
}