.background {
    height: 500px;
    background: url("https://zylsblog.oss-cn-beijing.aliyuncs.com/blog-img202309251842563.jpg") center no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: .5vw;
}

.categoryList {
    width: 85%;
    background-color: white;
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    border-radius: 10px;
    padding-bottom: 5vw;
    box-shadow: 10px 5px 12px rgba(0,0,0,.1),-10px 0 12px rgba(0,0,0,.2);
}

.categoryList h2 {
    color: plum;
    font-size: 1.5vw;
    padding-right: 1.5vw;
}

.categoryList h2:hover {
    color: #ff69b4;
    cursor: pointer;
}