.comment {
    width: 80%;
    margin-left: 5.5vw;
    margin-top: 5vw;
    padding: 2vw 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.head {
    padding-bottom: 2vw;
    display: flex;
}

.head input {
    all: initial;
    padding-left: 0.5vw;
    color: #3c4858;
}

.content {
    margin-left: 1vw;
    width: 80%;
}

.content textarea {
    width: 47vw;
    height: 18vw;
    color: #3c4858;
    font-size: 1.4vw;
    outline: 0;
    border: none;
    resize: none;
}
