.navigator {
    width: 100%;
    height: 5vw;
    background-color: #075e97;
    box-shadow: 0 .5vw 1.5vw rgba(0,0,0,.2);
    position: fixed;
    z-index: 1;
}

.newBar {
    width: 100%;
    height: 5vw;
    background-color: #075e97;
    box-shadow: 0 .5vw 1.5vw rgba(0,0,0,.2);
    position: fixed;
    z-index: 1;
}

h3,p {
    line-height: 5vw;
    color: white;
    cursor: pointer;
}

.right {
    padding-right: 7vw;
}

.rightInner {
    width: 60px;
    height: 40px;
    padding-right: 1.5vw;
    float: right;
}



.rightInner:hover {
    color: aqua;
}

h3 {
    font-size: 20px;
    padding-left: 7vw;
    float: left;
}

p {
    padding-left: 6px;
    display: inline-block;
}

i {
    color: white;
}

.search {
    line-height: 5vw;
    float: right;
}

a {
    text-decoration: none;
}

.menu i {
    font-size: 3vw;
    line-height: 8vw;
    float: right;
}

.delete {
    display: none;
}

.delete i {
    font-size: 3vw;
    line-height: 6vw;
    float: right;
}

@media screen and (max-width: 426px){

}

@media screen and (max-width: 771px){
    .navigator {
        height: 8vw;
    }

    .newBar {
        width: 100%;
        height: 42vw;
        background-color: #075e97;
        box-shadow: 0 .5vw 1.5vw rgba(0,0,0,.2);
        position: fixed;
        z-index: 1;
    }

    .bar {

    }

    .rightInner {
        display: none;
    }

    .search {
        display: none;
    }

    h3 {
        font-size: 2.4vw;
        line-height: 8vw;
        padding-left: 6vw;
    }

    .menu i {
        font-size: 4vw;
    }

    .right {
        padding-right: 6vw;
    }

}

@media screen and (min-width: 771px) {
    .menu {
        display: none;
    }

}


