.content {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile {
    width: 85%;
    background-color: white;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 5vw;
    border-radius: 10px;
    box-shadow: 10px 5px 12px rgba(0,0,0,.1),-10px 0 12px rgba(0,0,0,.2);
}

.profile p {
    color: black;
    transform: translateY(-8vw);
}


.avatar {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    transform: translateY(-12vw);
}

.profile a {
    transform: translateY(-15vw);
}


.profile a i {
    color: black;
    font-size: 3vw;
}

.profile a:hover i {
    color: #00a1d6;
}
