.background {
    width: 100%;
    height: 43vw;
    background-image: url("https://zylsblog.oss-cn-beijing.aliyuncs.com/blog-img202309251842563.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

::-webkit-scrollbar {
    width: 5px;
}

@media screen and (max-width: 771px){
    height: 80vw;
}

@media screen and (max-width: 426px){
    .background {
        height: 100vw;
    }

    .container {
        top: 45%;
        margin-left: -25vw;
    }

    .typing {
        font-size: 7vw;
    }

}