.button {
    width: 4vw;
    height: 4vw;
    background-color: white;
    box-shadow: 10px 5px 12px rgba(0,0,0,.1);
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}

.button i {
    font-size: 2.5vw;
    color: #075e97;
}
