.content {
    width: 100%;
    background-color: #eeeeee;
    padding-bottom: .5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}

.content p {
    color: black;
}

.article {
    width: 62%;
    margin: auto;
    padding-top: 5vw;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 5vw;
    box-shadow: 10px 5px 12px rgba(0,0,0,.1),-10px 0 12px rgba(0,0,0,.2);
}

.blogContent {
    margin: 0 4vw;
    padding-bottom: 4vw;
    border-bottom: 0.1vw solid gray;
}

.navbar {
    color: #3c4858;
    width: 15vw;
    position: absolute;
    top: 2vw;
    right: 2.0vw;
}

.navbar i {
    color: #3c4858;
    font-size: 2vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
}

.navbar span {
    font-size: 1.8vw;
}


.topButton {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
}

@media screen and (max-width: 426px){
    .article {
        width: 100%;
    }
    .navbar {
        display: none;
    }

}