.background {
    width: 100%;
    height: 691px;
    background: url("https://zylsblog.oss-cn-beijing.aliyuncs.com/blog-img202309151844102.jpg");
    background-size: 100% 691px;
    position: relative;
}

::-webkit-scrollbar {
    width: 5px;
}