.navigator {
    width: 100%;
    height: 5vw;
    background-color: #075e97;
    box-shadow: 0 .5vw 1.5vw rgba(0,0,0,.2);
    position: fixed;
    z-index: 1;
}

h3,p {
    line-height: 5vw;
    color: white;
    cursor: pointer;
}

.pullDownMenu {
    padding-right: 7vw;
}

.rightInner {
    width: 60px;
    height: 40px;
    padding-right: 1.5vw;
    float: right;
}

h3 {
    font-size: 20px;
    padding-left: 7vw;
    float: left;
}

p {
    padding-left: 6px;
    display: inline-block;
}

i {
    color: white;
}

.search {
    line-height: 5vw;
    float: right;
    cursor: pointer;
}

.rightInner i:hover, .search i:hover, p:hover {
    color: aqua;
}

a {
    text-decoration: none;
}

.menu i {
    font-size: 3vw;
    line-height: 8vw;
    float: right;
}

.delete {
    display: none;
}

.delete i {
    font-size: 3vw;
    line-height: 6vw;
    float: right;
}

.transparent {
    background-color: transparent;
}

/* 为遮罩层添加样式 */
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;

}

.search-box {
    width: 50%;
    background-color: white;
    display: flex;
    position: relative;
    margin: 5vw auto;
    flex-direction: column;
    border-radius: .1vw;
}

.search-box h1 {
    padding-left: 50%;
    margin-left: -2.5vw;
    color: #3c4858;
    font-size: 2.5vw;
}

.search-box i {
    color: gray;
    position: absolute;
    top: 5%;
    right: 1%;
}

.search-box i:hover {
    color: #075e97;
    cursor: pointer;
}

.search-box .input {
    all: initial;
    height: 2vw;
    margin: 5vw 2vw;
    margin-top: 3vw;
    border-bottom: solid gray .1vw;
}

/* 遮罩层可见时显示 */
.search-overlay.visible {
    display: flex;
}

@media screen and (max-width: 771px){
    .navigator {
        height: 8vw;
    }

    .topNav {
        display: flex;
        justify-content: space-between;
    }

    .pullDownMenu1 {
        padding: 0;
        height: 35vw;
        background-color: #075e97;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
    }

    .pullDownMenu2 {
        display: none;
    }

    h3 {
        font-size: 2.4vw;
        line-height: 8vw;
        padding-left: 6vw;
    }

    .menu {
        padding-right: 6vw;
    }

    .menu i {
        font-size: 4vw;
    }

    .right {
        padding-right: 6vw;
    }

}

@media screen and (min-width: 771px) {
    .menu {
        display: none;
    }

}

@media screen and (max-width: 426px){
    .topNav {
        height: 14vw;
        background-color: #075e97;
    }

    .topNav h3 {
        font-size: 4.6vw;
        line-height: 14vw;
    }

    .pullDownMenu1 {
        padding: 0;
        height: 90vw;
        background-color: #075e97;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
    }

    .menu i {
        font-size: 7vw;
        line-height: 14vw;
    }

}


